.cookie-consent {
  position: fixed;
  top: 8px;
  right: 20px;
  width: fit-content;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 20px;
  background: #ffc107;
  z-index: 120;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.cookie-consent .exposition {
  margin: 0.5em;
}

.cookie-consent .button-panel {
  display: flex;
  justify-content: center;
}

.cookie-consent button {
  width: max-content;
  margin: 1em;
}