h1 {
  font-family: Arial, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1.5em;
  color: $primary;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  margin-bottom: 1.25em;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  margin-bottom: 1em;
}

h4 {
  font-family: Arial, sans-serif;
  font-size: 1.25em;
  margin-bottom: 1em;
}

h5 {
  font-family: Arial, sans-serif;
  font-size: 1em;
}