$gray: gray;
$lightgray: lightgray;
$blue: #81b1cc;
$pastel-orange: #ff964f;
$pastel-red: #ff6961;
$opal: #a9c8c0;
$rajah: #f7ce76;
$pastel-mint: #cef0cc;
$green: #c1e1c1;
$black: black;
$white: white;

$theme-colors: (
        "default": $gray,
        "primary": $blue,
        "success" : $green,
        "warning" : $pastel-orange,
        "info" : $opal,
        "danger": $pastel-red,
        "muted": $lightgray,
        "black": black,
        "white": white,
);

:root {
  --gray-light: lightgray;
  --white: white;
  --black: black;
}

$enable-gradients: true;
$enable-shadows: true;

@import "node_modules/bootstrap/scss/functions"; // Required
@import "node_modules/bootstrap/scss/variables"; // Required
@import "node_modules/bootstrap/scss/mixins"; // Required
@import "node_modules/bootstrap/scss/root"; // Required
@import "node_modules/bootstrap/scss/reboot"; // Required
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group"; // Requires forms
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar"; // Requires nav
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/toasts";
@import "node_modules/bootstrap/scss/modal"; // Requires transitions
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/print";

@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background: $value;
    color: color-yiq($value);
  }
}

body {
  font-family: Arial, sans-serif;

  > .container {
    min-height: 600px;
  }
}

textarea {
  resize: none;
}

td {
  vertical-align: middle;
}

.btn-link {
  outline: none;
  box-shadow: none !important;
}

.form-group {
  margin-bottom: 1em;
}

.form-control-md {
  min-height: calc(1em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.375rem;
}

@font-face {
  font-family: BrushScriptStd;
  src: url("../public/fonts/BrushScriptStd.otf") format("opentype"), url("../public/fonts/BRUSHSCI.TTF") format("truetype");
}

@import "bg-white";
@import "bg-black";
@import "btn-default";
@import "title";
@import "paragraph";
@import "inset-text";
@import "accordion";
@import "carousel";
@import "cookie-consent";
@import "progress-bar";
@import "icon";
@import "well";
@import "notification-banner";
@import "card";
@import "branding";
@import "tooltip";
@import "input";
@import "enumeration-input";
@import "hr";
@import "warning";
@import "back-link";
@import "page-widget";
@import "tray";
@import "message-explorer";
@import "user-explorer";
@import "menu";
@import "scale";
@import "loop";
@import "jumbotron";
@import "login-panel";
@import "reset-password-request-panel";
@import "reset-password-panel";
@import "register-panel";