
.title-panel {
  border: 5px $primary solid;
  background: $primary;
  border-radius: 25px;
  padding: 5px;
  margin: 2em 0;

  .title-panel-content {
    border-radius: 10px;
    min-height: 12em;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    //background-color: #e9ecef;
    background-color: #f8c8dc;
    align-items: center;

    .title-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .title-text {
      display: flex;
      font-size: 3.5rem;
      margin-bottom: 0.5rem;
      line-height: 1.2;
    }
  }
}

.minor-title-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0;
}

.brand-outer {
  border: 5px $primary solid;
  background: $primary;
  border-radius: 25px;
  padding: 5px;

  .brand-inner {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    background-color: $headerBackground;

    .title-text {
      font-family: $font-title-primary;
      font-size: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: unset;
    }

    img {
      height: 3.5em;
      margin-right: 1em;
    }
  }
}

.page-title {
  color: $primary;
  font-size: 2.5rem;
  padding: 5px;
  text-align: right;
  font-weight: 500;
  line-height: 1.2;
}