
.btn.btn-default:hover:not(.disabled) {
  color: #fff;
  filter: brightness(0.85);
}

.btn.btn-default {
  color: color-yiq(theme-color("default"));
  background-color: theme-color("default");
  border-color: theme-color("default");
}