
.card-widget {
  margin: 4px;

  .card-header {
    background: $headerBackground;
  }

  .card-footer {
    background: $headerBackground;
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }
}
