
body {
  > .container {
    min-height: 600px;
  }
}

textarea {
  resize: none;
}

.form-check-label {
  padding: 0.5rem 1rem;
}

.btn-link {
  outline: none;
  box-shadow: none !important;
}

.bg-white {
  color: black;
}

.bg-black {
  color: white;
}

.hide-column {
  display: none !important;
}

@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background: $value;
    color: color-yiq($value);
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .hide#{$infix}-column {
      display: none !important;
    }
  }
}

.form-control-md {
  min-height: calc(1em + 1rem + 2px);
  font-size: 1rem;
}

.form-check-input {
  min-width: 1.5em;
  min-height: calc(1em + 1rem + 2px);
}

@media (max-width: 375.98px) {
  .hide-xs-column {
    display: none !important
  }
}