
body {
  > .container {
    min-height: 600px;
  }
}

.btn-link {
  outline: none;
  box-shadow: none !important;
}

.bg-white {
  color: black;
}

.bg-black {
  color: white;
}

.hide-column {
  display: none !important;
}

@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background: $value;
    color: color-yiq($value);
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .hide#{$infix}-column {
      display: none !important;
    }
  }
}

@media (max-width: 375.98px) {
  .hide-xs-column {
    display: none !important
  }
}