
.enumeration-widget {

  input[type="checkbox"] {
    min-width: 1.5em;
    cursor: pointer;
  }

  input[type="radio"] {
    min-width: 1.5em;
    cursor: pointer;
  }

  select {
    cursor: pointer;
  }

  .value-panel-container {
    display: flex;

    & > :first-child {
      margin-top: 0.5em;
    }
  }
}

.js-enabled .value-panel-widget {
  display: none;
}