
.folder-widget {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  border: 5px $primary solid;
  background: $primary;
  padding: 5px;
  margin: 4px;

  .header {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;

    background-color: $headerBackground;
    color: color-yiq($headerBackground);
  }

  .folder-content {
    overflow-y: auto;
    max-height: 600px;
    margin-bottom: 0.5em;
    flex: 1 0 auto;

    .folder-item {
      margin: 0.5em 0;
      padding: 0.5em 1em;
      background-color: #e9ecef;
    }
  }

  .no-content {
    display: flex;
    text-align: center;
    opacity: 0.75;
    font-style: italic;
    font-size: 2em;
    min-height: 80px;
    justify-content: center;
    align-items: center;
  }
}
