
.font-title-primary {
  font-family: Georgia, cursive, serif
}

.font-title-secondary {
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace
}

.font-text-primary {
  font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif
}

.font-text-secondary {
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif
}

.font-exhibit {
  font-family: Georgia, Times, Times New Roman, serif
}

.font-primary {
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif
}

.font-secondary {
  font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif
}