
.font-title-primary {
  font-family: $font-title-primary
}

.font-title-secondary {
  font-family: $font-title-secondary
}

.font-text-primary {
  font-family: $font-text-primary
}

.font-text-secondary {
  font-family: $font-text-secondary
}

.font-exhibit {
  font-family: $font-exhibit
}

.font-primary {
  font-family: $font-primary
}

.font-secondary {
  font-family: $font-secondary
}