
.font-picker {
  display: flex;
  flex-direction: row;

  .label {
    font-size: 1.25em;
  }

  .error-message {
    font-size: 1.25em;
    margin: auto;
    width: 50%;
    margin-bottom: 0.5em;
  }

  .font-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    font-size: 2em;
    margin-bottom: 0.5em;

    .title {
      flex: 1 1 50%;
    }

    .input-group {
      justify-content: flex-end;
      flex-wrap: nowrap;
      align-self: flex-end;
      width: 75%;

      > .font-package {
        flex: 1 0 fit-content;
      }

      > * {
        flex: 0 0 fit-content;

        &:focus {
          box-shadow: unset !important;
          border: 1px solid #6c757d;
        }

        &.active path {
          fill: black;
        }
      }

      .font-select {
        padding-right: 1.5em;
      }
    }

    .dropdown-menu {
      overflow-y: auto;
      max-height: 80vh;

      .dropdown-item {
        display: flex;
        flex-direction: row;
        font-size: 2em;

        > * {
          margin: 0.25em !important;
        }

        .font-title {
          flex: 1 0 30%;
        }
      }
    }
  }

  .exhibit-block {
    margin-left: 2em;
    margin-right: 2em;
  }

  .font-picker-exhibit {
    border: 1px solid black;
  }
}