@import "node_modules/bootstrap/scss/forms";

textarea {
  resize: none;
}

//.form-control {
//  min-height: calc(1em + 1rem + 2px);
//  font-size: 1rem;
//}

.form-check {
  display: flex;
  align-items: center;

  .form-check-input {
    float: unset;
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;

    &.form-control-lg {
      font-size: unset;
      height: 2em;
      width: 2em;
    }

    &.form-control-sm {
      height: 1em;
      width: 1em;
    }
  }

  .form-check-label {
    padding: 0.5rem 1rem;
    margin-bottom: unset;
  }
}

.form-radio {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 1.25rem;

  .form-radio-input {
    margin-top: .3rem;
    margin-left: -1.25rem;
    height: 1.5em;
    width: 1.5em;

    &.form-control-lg {
      font-size: unset;
      height: 2em;
      width: 2em;
    }

    &.form-control-sm {
      height: 1em;
      width: 1em;
    }
  }

  .form-radio-label {
    padding: 0.5rem 1rem;
    margin-bottom: unset;
  }
}
