@import "node_modules/bootstrap/scss/forms";

textarea {
  resize: none;
}

.form-group {
  position: relative;
  margin-top: 1em;
  margin-bottom: 0.5em;

  .form-label {
    display: block;
    transform-origin: left top;
    transition: all 0.3s;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 1;
    color: theme-color("default");

    &:has(~ .form-control:focus), &:has(~ .form-control:not(:placeholder-shown)), &:has(~ .form-control:-webkit-autofill), &:has(~ .input-group), &:has(~ .form-radio), &:has(~ .form-check), &:has(~ .select-panel-content) {
      transform: translateY(-1.5em) scale(0.8);
      z-index: 1;
    }

    &:has(~ .form-control:focus) {
      color: theme-color("primary");
    }
  }

  .form-control {
    cursor: pointer;
    box-shadow: none;
    border-radius: 0;
    border: unset;
    padding: 5px;
    background-color: transparent;

    &::placeholder {
      color: transparent;
      transition: all 0.5s;
    }

    &:focus {
      box-shadow: none;
      outline: none;

      &::placeholder {
        color: theme-color("default") !important;
      }
    }
  }

  &:has(> .form-control), &:has(> .input-group) {

    &:not(:has(> .input-group.scale-content)) {
      border-style: none none solid none;
      border-width: 2px;
      border-color: theme-color("default");

      &:before {
        display: block;
        z-index: 1;
        left: 0;
        bottom: -2px;
        right: 0;
        top: calc(100% - 1px);
        content: " ";
        position: absolute;
        pointer-events: none;
        border-bottom: 2px solid theme-color("primary");
        transform: scaleX(0);
      }

      &:has(.form-control:focus) {
        border-color: transparent;
        transition: border-color 1s cubic-bezier(0.4, 0, 0.2, 1);

        &:before {
          transform: scaleX(1);
          opacity: 1;
          transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
        }
      }

      &:has(+ .error-message) {
        border-color: theme-color("danger");

        &:before {
          border-bottom-color: theme-color("danger");
        }

        .form-radio > .form-radio-input, > .form-radio > .form-check-input {
          accent-color: theme-color("danger");
        }
      }
    }

    &:has(+ .error-message) {
      > .form-label {
        color: theme-color("danger");
      }
    }
  }
}

.input-group {
  position: relative;
  transition: all 0.5s;

  &:has(.form-control) {
    border: unset;
  }
}


.form-check {
  position: relative;
  display: flex;
  padding-left: unset;
  align-items: center;

  .form-check-label {
    padding: 0.5rem 1rem;
  }

  .form-check-input {
    position: unset;
    margin: unset;
    z-index: 1;
    opacity: 0;
    float: unset;
    cursor: pointer;
    min-height: unset;
    padding: unset;
    font-size: unset;
    height: 24px;
    width: 24px;

    & + .form-check-label {
      &:before {
        margin-left: calc(-1rem - 24px);
        height: 24px;
        width: 24px;
      }

      &:after {
        border-width: 0 0 4px 4px;
        top: 12px;
        left: 4px;
        width: 18px;
        height: 10px;
      }
    }


    &.form-control-lg {
      min-height: unset;
      padding: unset;
      font-size: unset;
      height: 2em;
      width: 2em;

      & + .form-check-label {
        &:before {
          margin-left: calc(-1rem - 32px);
          height: 32px;
          width: 32px;
        }

        &:after {
          border-width: 0 0 4px 4px;
          top: 16px;
          left: 4px;
          width: 25px;
          height: 12px;
        }
      }
    }

    &.form-control-sm {
      min-height: unset;
      padding: unset;
      font-size: unset;
      height: 1em;
      width: 1em;

      & + .form-check-label {

        &:before {
          margin-left: calc(-1rem - 16px);
          height: 16px;
          width: 16px;
        }

        &:after {
          border-width: 0 0 3px 3px;
          top: 11px;
          left: 2px;
          width: 12px;
          height: 6px;
        }
      }
    }
  }

  .form-check-input:focus + .form-check-label:before {
    border-width: 3px;
    outline: 3px solid transparent;
    outline-offset: 1px;
  }

  .form-check-input:checked + .form-check-label:before {
    border-color: theme-color("primary");
    background-color: theme-color("primary");
  }

  .form-check-input:checked + .form-check-label:after {
    opacity: 1;
    border-color: theme-color("white");
  }

  .form-check-label {
    padding: 0.5rem 1rem;

    &:after, &:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      background: transparent;
    }

    &:before {
      width: 40px;
      height: 40px;
      border: 2px solid theme-color("default");
      border-radius: 0.25em;
    }

    &:after {
      transform: rotate(-45deg);
      border: solid;
      border-top-color: transparent;
      opacity: 0;
    }
  }
}

.form-radio {
  position: relative;
  display: flex;
  padding-left: unset;
  align-items: center;

  .form-radio-input {
    position: unset;
    margin: unset;
    z-index: 1;
    opacity: 0;
    float: unset;
    cursor: pointer;
    min-height: unset;
    padding: unset;
    font-size: unset;
    height: 24px;
    width: 24px;

    & + .form-radio-label {
      &:before {
        margin-left: calc(-1rem - 24px);
        top: 12px;
        height: 24px;
        width: 24px;
      }

      &:after {
        top: 19px;
        left: 7px;
        border: 5px solid theme-color("default");
        width: 5px;
        height: 5px;
      }
    }


    &.form-control-lg {
      min-height: unset;
      padding: unset;
      font-size: unset;
      height: 2em;
      width: 2em;

      & + .form-radio-label {
        &:before {
          margin-left: calc(-1rem - 32px);
          height: 32px;
          width: 32px;
        }

        &:after {
          top: 20px;
          left: 8px;
          border: 8px solid theme-color("default");
          width: 8px;
          height: 8px;
        }
      }
    }

    &.form-control-sm {
      min-height: unset;
      min-width: unset;
      padding: unset;
      font-size: unset;
      height: 16px;
      width: 16px;

      & + .form-radio-label {

        &:before {
          margin-left: calc(-1rem - 16px);
          height: 16px;
          width: 16px;
        }

        &:after {
          top: 17px;
          left: 5px;
          border: 3px solid theme-color("default");
          width: 5px;
          height: 5px;
        }
      }
    }
  }

  .form-radio-input:focus + .form-radio-label:before {
    border-width: 2px;
    outline: transparent;
    outline-offset: 1px;
    border-radius: 50%;
    border-color: theme-color("primary");
  }

  .form-radio-input:checked + .form-radio-label:before {
    opacity: 1;
    border-color: theme-color("primary");
  }

  .form-radio-input:checked + .form-radio-label:after {
    opacity: 1;
    border-color: theme-color("primary");
  }

  .form-radio-label {
    padding: 0.5rem 1rem;

    &:after, &:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      background: transparent;
    }

    &:before {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid theme-color("default");
    }

    &:after {
      z-index: 3;
      opacity: 0;
      border-radius: 50%;
    }
  }
}