@import "node_modules/bootstrap/scss/functions";

@function color-yiq-if($color, $if-true, $if-false) {
  $value: theme-color($color);
  $r: red($value);
  $g: green($value);
  $b: blue($value);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) * .001;

  @return theme-color-level($color, if($yiq >= $yiq-contrasted-threshold, $if-true, $if-false));
}
