hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: lightgrey;
  height: 1px;
}


@each $color, $value in $theme-colors {
  .hr-#{$color} {
    background: $value;
    color: color-yiq($value);
  }
}