
.login-panel {
  min-width: 350px;

  .panel-body {
    padding: 1.25em 1em;
  }

  .button-panel {
    display: flex;
    justify-content: space-around;

    //.btn-link {
    //  color: #fff;
    //}
  }

  button {
    min-width: 100px;
  }
}
