.menu-widget {
  align-self: stretch;

  .menu-item-widget {
    button {
      outline: none;
      box-shadow: none !important;
    }
  }

  .nav-item {
    display: flex;
    align-items: center;
    padding: .5rem;
    justify-content: space-between;
  }

  .navbar-nav {
    flex-basis: 100%;
    .dropdown-menu {
      position: absolute;

    }

    .dropdown-item-no-content {
      display: block;
      width: 100%;
      padding: 0.25rem 1.5rem;
      clear: both;
      color: #212529;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
      color: gray;
    }
  }
}
