.menu-widget {
  align-self: stretch;
  background-color: rgb(0,0,0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  padding: 0 1em;

  .menu-item-widget {
    button {
      outline: none;
      box-shadow: none !important;
    }
  }

  .dropdown-menu {
    top: calc(100% - 1.5em);
  }

  .nav-item {
    display: flex;
    align-items: center;
    padding: .5rem;
    justify-content: space-between;
  }

  .navbar-nav {
    flex-basis: 100%;

    .dropdown-menu {
      position: absolute;
    }

    .dropdown-item-no-content {
      display: block;
      width: 100%;
      padding: 0.25rem 1.5rem;
      clear: both;
      color: #212529;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
      color: gray;
    }
  }
}

.navbar-light .navbar-toggler {
  padding: 0 .25rem;
  margin: 0.125em;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
