@function darken($color, $amount) {
  @return 'darken(#{$color},#{$amount})';
}

@function lighten($color, $amount) {
  @return 'lighten(#{$color},#{$amount})';
}

@function fade-in($popover-border-color, $amount) {
  @return 'fade-in(#{$popover-border-color},#{$amount})';
}

@function red($color) {
  @return 'red(#{$color})';
}

@function rgba($args...) {
  @return 'rgba(#{$args})';
}

@function mix($color1, $color2, $weight) {
  @return 'mix(#{$color1},#{$color2},#{$weight})';
}

@function color-yiq($color, $dark: $yiq-text-dark, $light: $yiq-text-light) {
  @return 'color-yiq(#{$color},#{$dark},#{$light})';
}

@function color-yiq-if($value, $if-true, $if-false) {
  @return 'color-yiq-if(#{$value},#{$if-true},#{$if-false})';
}

@function theme-color-level($color, $level) {
  $value: theme-color($color);
  @return 'theme-color-level(#{$value},#{$level})';
}