$panel-cap-bg: theme-color("primary");
$panel-cap-color: color-yiq(theme-color("primary"));

$panel-border-radius: 25px;
$panel-inner-border-radius: 19px;

.panel {
  @extend .card;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  background: theme-color("primary");
  border: 5px theme-color("primary") solid;
  border-radius: $panel-border-radius;
  margin: 4px;
}

.panel-header {
  @extend .card-header;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding: .5em 1em;
  background-color: $headerBackground;
  color: color-yiq($headerBackground);
  border-bottom: 5px theme-color("primary") solid;
}

.panel-body {
  @extend .card-body;
  background: #fff;
  padding: unset;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .panel-content {
    flex: 1 0 auto;
    padding-bottom: 2px;
    background-color: theme-color("primary");
    padding-right: 0.5em;

    .panel-item {
      border-radius: 10px;
      padding: 0.5em 1em;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);

      &:not(:first-child) {
        margin-top: 0.5em;
      }

      &:nth-child(even) {
        background-color: $alternatingEven;
        color: color-yiq($alternatingEven);
      }

      &:nth-child(odd) {
        background-color: $alternatingOdd;
        color: color-yiq($alternatingOdd);
      }
    }
  }

  .panel-no-content {
    display: flex;
    text-align: center;
    opacity: 0.75;
    min-height: 80px;
    justify-content: center;
    align-items: center;
  }
}

.panel > *:first-child {
  border-top-left-radius: $panel-inner-border-radius;
  border-top-right-radius: $panel-inner-border-radius;
}

.panel > *:last-child {
  border-bottom-left-radius: $panel-inner-border-radius;
  border-bottom-right-radius: $panel-inner-border-radius;
}

.panel-footer {
  @extend .card-footer;
  background-color: $headerBackground;
  color: color-yiq($headerBackground);
  border-top: 5px theme-color("primary") solid;
}