
.scale-widget {

  input {
    min-width: 1.5em;
  }

  .scale-content {
    display: flex;
    flex-wrap: wrap;
  }

  .scale-content > * {
    flex: 1 0 auto;
  }

  .form-check-inline .form-check-input {
    cursor: pointer;
  }
}