h1 {
  font-family: $font-title-primary;
  font-size: 2.5rem;
  margin-top: 0.8em;
  margin-bottom: 1.25em;
  color: theme-color("primary");
  text-decoration: FONT_TITLE_PRIMARY_DECORATION;
  font-style: FONT_TITLE_PRIMARY_STYLE;
  font-weight: FONT_TITLE_PRIMARY_WEIGHT;
}

h2 {
  font-family: $font-title-secondary;
  font-size: 2rem;
  margin-bottom: 1.25em;
  text-decoration: FONT_TITLE_SECONDARY_DECORATION;
  font-style: FONT_TITLE_SECONDARY_STYLE;
  font-weight: FONT_TITLE_SECONDARY_WEIGHT;
}

h3 {
  font-family: $font-title-primary;
  font-size: 1.5em;
  margin-bottom: 1em;
  text-decoration: FONT_TITLE_PRIMARY_DECORATION;
  font-style: FONT_TITLE_PRIMARY_STYLE;
  font-weight: FONT_TITLE_PRIMARY_WEIGHT;
}

h4 {
  font-family: $font-title-secondary;
  font-size: 1.25em;
  margin-bottom: 1em;
  text-decoration: FONT_TITLE_SECONDARY_DECORATION;
  font-style: FONT_TITLE_SECONDARY_STYLE;
  font-weight: FONT_TITLE_SECONDARY_WEIGHT;
}

h5 {
  font-family: $font-title-primary;
  font-size: 1em;
  text-decoration: FONT_TITLE_PRIMARY_DECORATION;
  font-style: FONT_TITLE_PRIMARY_STYLE;
  font-weight: FONT_TITLE_PRIMARY_WEIGHT;
}

.title-widget {
  border-radius: 0.25em;
}