
body, .text-widget {
  font-family: $font-text;
}

.header {
  font-family: $font-title-primary;
}

.title {
  font-family: $font-title-primary;
}

input, select, a, button, .error-message, label, .label, .no-content, .input-group {
  font-family: $font-label;
}