
body, .text-widget {
  font-family: $font-text;
  text-decoration: FONT_TEXT_DECORATION;
  font-size: FONT_TEXT_SIZE;
  font-style: FONT_TEXT_STYLE;
  font-weight: FONT_TEXT_WEIGHT;
}

.header, .title {
  font-family: $font-title-primary;
  text-decoration: FONT_TITLE_PRIMARY_DECORATION;
  font-size: FONT_TITLE_PRIMARY_SIZE;
  font-style: FONT_TITLE_PRIMARY_STYLE;
  font-weight: FONT_TITLE_PRIMARY_WEIGHT;
}

input, select, a, button, .error-message, label, .label, .no-content, .input-group {
  font-family: $font-label;
  text-decoration: FONT_LABEL_DECORATION;
  font-size: FONT_LABEL_SIZE;
  font-style: FONT_LABEL_STYLE;
  font-weight: FONT_LABEL_WEIGHT;
}

body {
  line-height: 1.25em;
}