$gray: gray;
$lightgray: lightgray;
$blue: #81b1cc;
$pastel-orange: #ff964f;
$pastel-red: #ff6961;
$opal: #a9c8c0;
$rajah: #f7ce76;
$pastel-mint: #cef0cc;
$green: #c1e1c1;
$black: black;
$white: white;
$lavender: lavender;

$font-title-primary: Georgia, cursive, serif;
$font-title-secondary: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
$font-text-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-text-secondary: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif;
$font-exhibit: Georgia, Times, Times New Roman, serif;
$font-primary: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
$font-secondary: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;

$alternatingEven: $opal;
$alternatingOdd: $green;
$headerBackground: $lavender;

$theme-colors: (
        "default": $gray,
        "primary": $blue,
        "success" : $green,
        "warning" : $pastel-orange,
        "info" : $opal,
        "danger": $pastel-red,
        "muted": $lightgray,
        "black": black,
        "white": white,
);

:root {
  --gray-light: lightgray;
  --white: white;
  --black: black;
}

$enable-gradients: true;
$enable-shadows: true;

@import "node_modules/bootstrap/scss/functions"; // Required
@import "node_modules/bootstrap/scss/variables"; // Required
@import "node_modules/bootstrap/scss/mixins"; // Required
@import "node_modules/bootstrap/scss/root"; // Required
@import "node_modules/bootstrap/scss/reboot"; // Required
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group"; // Requires forms
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar"; // Requires nav
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/toasts";
@import "node_modules/bootstrap/scss/modal"; // Requires transitions
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/print";

@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background: $value;
    color: color-yiq($value);
  }
}

body {
  font-family: $font-text-primary;

  > .container {
    min-height: 600px;
  }
}

textarea {
  resize: none;
}

td {
  vertical-align: middle;
}

.btn-link {
  outline: none;
  box-shadow: none !important;
}

.form-group {
  margin-bottom: 1em;
}

.form-control-md {
  min-height: calc(1em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.375rem;
}

@font-face {
  font-family: BrushScriptStd;
  src: url("../public/fonts/BrushScriptStd.otf") format("opentype"), url("../public/fonts/BRUSHSCI.TTF") format("truetype");
}

@media (max-width: 375.98px) {
  .hide-xs-column {
    display: none !important
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .hide#{$infix}-column {
      display: none !important;
    }
  }
}

.truncated-content {
  display: flex;
  color: var(--danger);
  justify-content: center;
  align-items: center;
}

//This class is used by the sizing attribute pane.
.hide-column {
  display: none !important;
}

@import "accordion-widget";
@import "back-link-widget";
@import "badge-widget";
@import "bg-white";
@import "bg-black";
@import "branding";
@import "btn-default";
@import "card-widget";
@import "carousel-widget";
@import "cookie-consent-widget";
@import "enumeration-input-widget";
@import "font";
@import "hr-widget";
@import "icon-widget";
@import "initiate-workflow-button-widget";
@import "input-widget";
@import "inset-text-widget";
@import "jumbotron-widget";
@import "link-widget";
@import "login-panel-widget";
@import "loop-widget";
@import "menu-widget";
@import "message-explorer-widget";
@import "notification-banner-widget";
@import "page-widget";
@import "paragraph-widget";
@import "progress-bar-widget";
@import "register-panel-widget";
@import "reset-password-panel-widget";
@import "reset-password-request-panel-widget";
@import "scale-widget";
@import "title-widget";
@import "tooltip";
@import "tray-widget";
@import "user-explorer-widget";
@import "warning-widget";
@import "well-widget";
@import "pagination-widget";
@import "list-widget";
@import "folder-widget";
@import "operation-button-widget";
@import "continue-operation-button-widget";