@import "functions";


$enable-gradients: false; //turned off for easier tokenization.
$enable-shadows: false; //turned off for easier tokenization.

$gray: gray;
$lavender: lavender;

:root {
  --gray-light: lightgray;
  --white: white;
  --black: black;
}

/*
  TOKENIZATION
  -------------
  These scss files produce css with tokens for the Maximillian platform to replace during page serving.
  This is so that Maximillian can do color and font overrides to support auto enrolment.

  If you do not require auto-enrolment, or don't wish to support overrides, remove this and remove the customize.js script.
 */

$font-title-primary: FONT_TITLE_PRIMARY_FAMILY;
$font-title-secondary: FONT_TITLE_SECONDARY_FAMILY;
$font-text: FONT_TEXT_FAMILY;
$font-label: FONT_LABEL_FAMILY;
$font-exhibit: FONT_EXHIBIT_FAMILY;

$theme-colors: (
        "default": COLOR_DEFAULT,
        "primary": COLOR_PRIMARY,
        "secondary": COLOR_SECONDARY,
        "success" : COLOR_SUCCESS,
        "warning" : COLOR_WARNING,
        "info" : COLOR_INFO,
        "danger": COLOR_DANGER,
        "muted": COLOR_MUTED,
        "black": COLOR_BLACK,
        "white": COLOR_WHITE,
);

$alternatingEven: theme-color("info");
$alternatingOdd: theme-color("success");
$headerBackground: #e9e9e9;

/*
  The overrides module substitutes color functions so that color tokenization can take place. See tokenize.js, and customize.js
 */
@import "overrides";

//Required
@import "node_modules/bootstrap/scss/variables"; // Required

// END OF TOKENIZATION

@font-face {
  font-family: "Liberation Mono";
  src: url("/public/fonts/LiberationMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Liberation Mono";
  src: url("/public/fonts/LiberationMono-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Liberation Mono";
  src: url("/public/fonts/LiberationMono-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Liberation Mono";
  src: url("/public/fonts/LiberationMono-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Liberation Sans";
  src: url("/public/fonts/LiberationSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Liberation Sans";
  src: url("/public/fonts/LiberationSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Liberation Sans";
  src: url("/public/fonts/LiberationSans-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Liberation Sans";
  src: url("/public/fonts/LiberationSans-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Liberation Serif";
  src: url("/public/fonts/LiberationSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Liberation Serif";
  src: url("/public/fonts/LiberationSerif-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Liberation Serif";
  src: url("/public/fonts/LiberationSerif-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Liberation Serif";
  src: url("/public/fonts/LiberationSerif-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

@import "node_modules/bootstrap/scss/mixins"; // Required
@import "node_modules/bootstrap/scss/root"; // Required
@import "node_modules/bootstrap/scss/reboot"; // Required

@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group"; // Requires forms
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar"; // Requires nav
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/toasts";
@import "node_modules/bootstrap/scss/modal"; // Requires transitions
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/print";

// Control  - these are produced by the platform and expect certain affects.
@import "control";
@import "panel";
@import "explorer";

// Widgets - styling for individual widgets.
@import "error-message";
@import "accordion-widget";
@import "back-link-widget";
@import "badge-widget";
@import "branding";
@import "btn-default";
@import "card-widget";
@import "carousel-widget";
@import "cookie-consent-widget";
@import "enumeration-input-widget";
@import "hr-widget";
@import "icon-widget";
@import "button-widget";
@import "input-widget";
@import "inset-text-widget";
@import "jumbotron-widget";
@import "link-widget";
@import "login-panel-widget";
@import "loop-widget";
@import "menu-widget";
@import "message-explorer-widget";
@import "notification-banner-widget";
@import "page-widget";
@import "text-widget";
@import "progress-bar-widget";
@import "register-panel-widget";
@import "reset-password-panel-widget";
@import "reset-password-request-panel-widget";
@import "scale-widget";
@import "title-widget";
@import "tooltip";
@import "tray-widget";
@import "user-explorer-widget";
@import "warning-widget";
@import "well-widget";
@import "pagination-widget";
@import "list-widget";
@import "folder-widget";
@import "color-picker-widget";
@import "select-panel-widget";
@import "font-picker-widget";
@import "kase-explorer-widget";
@import "error-summary-widget";
@import "template";

// Typography - all styling related to fonts, and typography.
@import "typography";
