
@font-face {
  font-family: "Liberation Mono";
  src: url("/public/fonts/LiberationMono-Regular.ttf" ) format("truetype");
}

@font-face {
  font-family: "Liberation Mono";
  src: url("/public/fonts/LiberationMono-Bold.ttf" ) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Liberation Mono";
  src: url("/public/fonts/LiberationMono-Italic.ttf" ) format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Liberation Mono";
  src: url("/public/fonts/LiberationMono-BoldItalic.ttf" ) format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Liberation Sans";
  src: url("/public/fonts/LiberationSans-Regular.ttf" ) format("truetype");
}

@font-face {
  font-family: "Liberation Sans";
  src: url("/public/fonts/LiberationSans-Bold.ttf" ) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Liberation Sans";
  src: url("/public/fonts/LiberationSans-Italic.ttf" ) format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Liberation Sans";
  src: url("/public/fonts/LiberationSans-BoldItalic.ttf" ) format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Liberation Serif";
  src: url("/public/fonts/LiberationSerif-Regular.ttf" ) format("truetype");
}

@font-face {
  font-family: "Liberation Serif";
  src: url("/public/fonts/LiberationSerif-Bold.ttf" ) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Liberation Serif";
  src: url("/public/fonts/LiberationSerif-Italic.ttf" ) format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Liberation Serif";
  src: url("/public/fonts/LiberationSerif-BoldItalic.ttf" ) format("truetype");
  font-style: italic;
  font-weight: bold;
}


$gray: gray;
$lightgray: lightgray;
$rajah: #f7ce76;
$pastel-mint: #cef0cc;
$black: black;
$white: white;
$lavender: lavender;

/*
  Font Tokenization.
  When these Materials are used during auto enrolment, the account will have valid values configured for replacement
  via tokens.  Two sets of css are generated, the first without tokens for display via these Materials for the purposes
  of development, the second set with tokens is generated for production via the Platform which will replace the tokens
  with values configured against the account.

  These are the font tokens.

  FONT_[ TITLE_PRIMARY | TITLE_SECONDARY | TEXT | EXHIBIT ]_[ FAMILY | SIZE | WEIGHT | STYLE | DECORATION]

  So for example FONT_TITLE_PRIMARY_FAMILY

  The sass-preprocessor script takes care of this, and outputs to the tmp directory, and sass then independently compiles each set.

  How tokenization works:
    There are three tokens that separate three kinds of text.   Normal text included in both css, www text included only
    in www, and materials text, included only in production css.
    The tokens are wrapped in css comment delimiters, as in /*  and * / (without the space).
    / *£IF* / - marks the end of normal text and the start of www only text.
    / *£ELSE - marks the end of www tokens as the start of production tokens.
    £END* / - marks the end of production tokens are the start of normal tokens.
 */

$font-title-primary: /*£IF*/
        Liberation Sans, sans-serif/*£ELSE FONT_TITLE_PRIMARY_FAMILY £END*/
;
$font-title-secondary: /*£IF*/
        Liberation Sans, sans-serif/*£ELSE FONT_TITLE_SECONDARY_FAMILY £END*/
;
$font-text: /*£IF*/
        Liberation Sans, sans-serif/*£ELSE FONT_TEXT_FAMILY £END*/
;
$font-label: /*£IF*/
        Liberation Sans, sans-serif/*£ELSE FONT_LABEL_FAMILY £END*/
;
$font-exhibit: /*£IF*/
        Liberation Mono, monospace/*£ELSE FONT_EXHIBIT_FAMILY £END*/
;


/*
  Color Tokenization.

  Color tokenization is handled differently to fonts because bootstrap runs a number of functions on the colors to
  produce lighter and darker shades.  So preprocessing the tokens will not work as the functions error trying to
  calculate on tokens.  So here we find the colors in  the output css file and replace with tokens.  The obvious
  downside is that we have mismatched lighter and darker shades, and problems when the colors are duplicated.
  This is the cheap option.  The alternative is to remove all color calculations from our bootstrap version...,
  which we may end up doing.  You have to keep color-tokenization.js up to date with any color changes you make
  to the following.  This is definitely a hack, but only applies to auto enrolment.  When materials are customized,
  all of this can be dropped.
 */
$blue: #81b1cc;
$pastel-orange: #ff964f;
$pastel-red: #ff6961;
$opal: #a9c8c0;
$green: #c1e1c1;

$alternatingEven: $opal;
$alternatingOdd: $green;
$headerBackground: $lavender;

$theme-colors: (
        "default": $gray,
        "primary": $blue,
        "success" : $green,
        "warning" : $pastel-orange,
        "info" : $opal,
        "danger": $pastel-red,
        "muted": $lightgray,
        "black": black,
        "white": white,
);

:root {
  --gray-light: lightgray;
  --white: white;
  --black: black;
}

$enable-gradients: true;
$enable-shadows: true;

@import "node_modules/bootstrap/scss/functions"; // Required
@import "node_modules/bootstrap/scss/variables"; // Required
@import "node_modules/bootstrap/scss/mixins"; // Required
@import "node_modules/bootstrap/scss/root"; // Required
@import "node_modules/bootstrap/scss/reboot"; // Required
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group"; // Requires forms
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar"; // Requires nav
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/toasts";
@import "node_modules/bootstrap/scss/modal"; // Requires transitions
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/print";

//@font-face {
//  font-family: BrushScriptStd;
//  src: url("../public/fonts/BrushScriptStd.otf") format("opentype"), url("../public/fonts/BRUSHSCI.TTF") format("truetype");
//}


// Boostrap Overrides - changes to default bootstrap styling. Likely to change if different bootstrap skins are in affect.
@import "bootstrap-skin";

// Typography - all styling related to fonts, and typography.
@import "typography";

// Control  - these are produced by the platform and expect certain affects.
@import "control";

// Widgets - styling for individual widgets.
@import "accordion-widget";
@import "back-link-widget";
@import "badge-widget";
@import "branding";
@import "btn-default";
@import "card-widget";
@import "carousel-widget";
@import "cookie-consent-widget";
@import "enumeration-input-widget";
@import "hr-widget";
@import "icon-widget";
@import "button-widget";
@import "input-widget";
@import "inset-text-widget";
@import "jumbotron-widget";
@import "link-widget";
@import "login-panel-widget";
@import "loop-widget";
@import "menu-widget";
@import "message-explorer-widget";
@import "notification-banner-widget";
@import "page-widget";
@import "text-widget";
@import "progress-bar-widget";
@import "register-panel-widget";
@import "reset-password-panel-widget";
@import "reset-password-request-panel-widget";
@import "scale-widget";
@import "title-widget";
@import "tooltip";
@import "tray-widget";
@import "user-explorer-widget";
@import "warning-widget";
@import "well-widget";
@import "pagination-widget";
@import "list-widget";
@import "folder-widget";
@import "color-picker-widget";
@import "select-panel-widget";
@import "font-picker-widget";
@import "kase-explorer-widget";
@import "error-summary-widget";
